# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests
/SpeedyPrint Testing/
src/__tests__/
src/__mocks__/

# next.js
/.next/
/.swc/
/out/

# production
/build

# project reports & artifacts
SpeedyPrint_*.md
SpeedyPrint_*.docx
testp.md
dev-server.log
tsc_errors.txt
failing_design.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts